@media screen and (max-width: 1457px) {
	.container{
        width: 100%;
    }
}
@media screen and (max-width: 1135px) {
    .profile{
        padding-left: 150px;
    }
    .opportunities{
        padding-left: 150px;
    }
    .contacts-flex{
        padding-left: 150px;
    }
}
@media screen and (max-width: 1038px) {
    .profile{
        padding-left: 10%;
    }
    .opportunities{
        padding-left: 10%;
    }
    .contacts-flex{
        padding-left: 10%;
    }
}
@media screen and (max-width: 980px) {
    .opportunities{
        padding-left: 10%;
        padding-right: 10%;
    }
    .statement{
        margin-right: 10px;
    }
}
@media screen and (max-width: 965px) {
    .contacts-flex{
        display: block;
    }
    .contacts-description{
        display: block;
        text-align: center;
        padding-top: 20px;
    }
    .contacts-p{
        text-align: center;
        width: auto;
    }
    .contacts-flex{
        padding-left:0;
        padding-right: 0;
    }
    .contacts-form{
        margin: 0 auto;
    }
}
@media screen and (max-width: 875px) {
    .name{
        margin-left: 60px;
    }
    .profile{
        padding-left: 20px;
    }
    .foot-flex{
        margin: 20px;
    }
}
@media screen and (max-width: 810px) {
    .opportunities{
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .profile{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .statement{
        text-align: center;
    }
    .description{
        margin-top: 20px;
    }
}
@media screen and (max-width: 720px) {
    .opportunities{
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
    }
    .progress h3{
        color: #fff;
    }
}
@media screen and (max-width: 660px) {
    .progress-bar{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .progress-bar.web{
        width: 80%;
    }
    .progress-bar.responsive::before{
        width: 90%;
    }
    .progress-bar.ui::before{
        width: 65%;
    }
    .progress-bar.mobile::before{
        width: 40%;
    }
    .description{
        width: auto;
        text-align: center;
    }
    .contacts-form{
        width: 100%;
        margin: 0 auto;
    }
    .input-name{
        width: 90%;
    }
    .contacts-flex{
        margin: 10px;
    }
    .caption{
        margin-left: 0;
        text-align: center;
    }
}
@media screen and (max-width: 457px) {
    .profile{
        padding-top: 80px;
        padding-bottom: 100px;
    }
    h1{
        line-height: 70px;
    }
    .foot-flex{
        display: block;
    }
    .foot-name{
        text-align: center;
        margin-bottom: 10px;
    }
    .icons{
        margin: 0 auto;
    }
}
